@import url(../css/reset.css);
@import url(../css/fonts.css);
/* Base SCSS libraries */
/* Animations */
@-webkit-keyframes anim_slides {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px); }
  3% {
    opacity: 1;
    -webkit-transform: translateX(0); }
  47% {
    opacity: 1;
    -webkit-transform: translateX(0); }
  50% {
    opacity: 0;
    -webkit-transform: translateX(-100px); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100px); } }
@-moz-keyframes anim_slides {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px); }
  3% {
    opacity: 1;
    -moz-transform: translateX(0); }
  47% {
    opacity: 1;
    -moz-transform: translateX(0); }
  50% {
    opacity: 0;
    -moz-transform: translateX(-100px); }
  100% {
    opacity: 0;
    -moz-transform: translateX(-100px); } }
body {
  color: #222;
  font-family: Merriweather; }

.wrapper {
  width: 1100px;
  margin: 0px auto;
  position: relative; }

.f-container::before {
  content: "";
  display: table; }
.f-container::after {
  clear: both;
  content: "";
  display: table; }

.shadow {
  -webkit-box-shadow: 3px 2px 5px #666;
  -moz-box-shadow: 3px 2px 5px #666;
  box-shadow: 3px 2px 5px #666; }

.go-right {
  float: right; }

.go-left {
  float: left; }

.clearme {
  clear: both; }

.align-l {
  text-align: left; }

.align-c {
  text-align: center; }

.align-r {
  text-align: right; }

.valign-t {
  vertical-align: top; }

.valign-c {
  vertical-align: center; }

.valign-b {
  vertical-align: bottom; }

.inline-b {
  display: inline-block; }

.center-me {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.title-font, .heading-xsm, .heading-sm, .heading-md, .heading-lg {
  font-family: Lato; }

.title-bold {
  font-family: LatoBold; }

.table {
  display: table; }

.accent {
  color: #90C695; }

.accent-dark {
  color: #1E824C; }

.secondary {
  color: #6bb9f0; }

.nuetral {
  color: #d1d1d1; }

.main {
  color: #222; }

.main-lt {
  color: #777; }

.validation-error {
  color: red;
  font-size: 12px; }

.label-lg {
  font-size: 18pt;
  font-weight: bold; }

.heading-xsm {
  font-size: 14pt; }

.heading-sm {
  font-size: 18pt; }

.heading-md {
  font-size: 22pt; }

.heading-lg {
  font-size: 28pt; }

/******* Buttons ********************/
.btn-group {
  position: relative;
  display: inline-block;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle; }
  .btn-group.open .dropdown-toggle {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn-group .btn {
    font-size: 14px;
    position: relative; }
    .btn-group .btn .caret {
      display: inline-block;
      margin-left: 4px;
      width: 0;
      height: 0;
      vertical-align: middle;
      border-top: 4px solid #000000;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      content: ""; }

.open > .dropdown-menu {
  display: block; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }
  .dropdown-menu li.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5; }
  .dropdown-menu li a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap; }

.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }
  .btn-primary:hover {
    background-image: none; }

.btn-lg {
  padding: 8px 24px;
  font-size: 24px;
  line-height: 20px; }

.btn-transparent {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  text-shadow: none;
  box-shadow: none;
  text-decoration: underline; }

/******* Responsive Portion *********/
.container {
  padding: 0px 8px; }
  .container .row {
    margin: 0px -8px; }
    .container .row .col {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      vertical-align: top;
      padding: 0px 8px;
      float: left; }
    .container .row .col1 {
      width: 8.33333%; }
    .container .row .col2 {
      width: 16.66667%; }
    .container .row .col3 {
      width: 25%; }
    .container .row .col4 {
      width: 33.33333%; }
    .container .row .col5 {
      width: 41.66667%; }
    .container .row .col6 {
      width: 50%; }
    .container .row .col7 {
      width: 58.33333%; }
    .container .row .col8 {
      width: 66.66667%; }
    .container .row .col9 {
      width: 75%; }
    .container .row .col10 {
      width: 83.33333%; }
    .container .row .col11 {
      width: 91.66667%; }
    .container .row .col12 {
      width: 100%; }

.section1 {
  display: block;
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  /* 	background-image: url('../../assets/images/pic3.jpg'); */
  background-image: url("file:///Users/alexolsen/Code/whitetail/assets/images/pic3.jpg");
  text-align: center;
  color: white; }
  .section1 header {
    font-family: LatoBold;
    font-size: 14px;
    text-transform: uppercase; }
    .section1 header ul {
      text-align: right; }
      .section1 header ul li {
        display: inline-block;
        padding: 10px 15px; }
  .section1 .boop {
    text-align: center;
    text-transform: uppercase;
    padding-top: 80px;
    font-size: 60px;
    font-weight: bold;
    font-family: MerriweatherBold; }
  .section1 .boop2 {
    height: 500px;
    color: #777;
    font-family: LatoBold;
    font-size: 20px; }

.section2 {
  padding: 30px 0px;
  background-color: white;
  width: 970px;
  text-align: center;
  margin: 0px auto; }
  .section2 .underline {
    width: 100px;
    margin: 20px auto;
    height: 4px;
    background-color: #1E824C; }
  .section2 h3 {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    margin: 20px 0px 10px 0px; }
  .section2 .icon {
    padding: 10px 0px; }
  .section2 .text-muted {
    color: #777;
    font-size: 18px;
    line-height: 1.5;
    font-family: Lato; }

.section3 {
  padding: 30px 0px;
  background-color: #90C695;
  color: #fff; }
  .section3 .inner-section {
    padding: 30px 0px;
    width: 750px;
    text-align: center;
    margin: 0px auto; }
    .section3 .inner-section .underline {
      width: 100px;
      margin: 20px auto;
      height: 4px;
      background-color: #1E824C; }
    .section3 .inner-section table {
      color: #fff;
      font-size: 18px; }
      .section3 .inner-section table tr td {
        padding: 10px 12px;
        font-family: Lato; }
        .section3 .inner-section table tr td:first-child {
          font-family: LatoBold; }
  .section3 .icon {
    padding: 10px 0px; }
  .section3 .text-muted {
    font-size: 18px;
    line-height: 1.5;
    font-family: Lato; }
  .section3 h3 {
    font-family: Lato;
    font-size: 32px;
    margin: 20px 0px 10px 0px; }

.section4 {
  padding: 30px 0px;
  background-color: #fff;
  color: #222; }
  .section4 .inner-section {
    padding: 30px 0px;
    width: 970px;
    text-align: center;
    margin: 0px auto; }
    .section4 .inner-section .underline {
      width: 100px;
      margin: 20px auto;
      height: 4px;
      background-color: #1E824C; }
  .section4 .icon {
    padding: 10px 0px; }
  .section4 .text-muted {
    font-size: 18px;
    line-height: 1.5;
    font-family: Lato; }
  .section4 h3 {
    font-family: Lato;
    font-size: 32px;
    margin: 20px 0px 10px 0px; }

.grid-square {
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  width: 480px;
  padding: 0px 20px; }

.section5 .img-holder {
  float: left;
  width: 50%; }
  .section5 .img-holder img {
    display: block;
    max-width: 100%;
    height: auto; }

.content {
  padding: 8px;
  color: #222;
  background-color: #fff; }
  .content .header {
    font-family: Lato;
    font-size: 24pt; }
  .content .content-body {
    font-family: Merriweather;
    font-size: 14pt;
    line-height: 2; }

/*# sourceMappingURL=styles.css.map */
