@-webkit-keyframes anim_slides{
    0% { opacity: 0; -webkit-transform: translateX(100px); }
	3% { opacity: 1; -webkit-transform: translateX(0); }
	47% { opacity: 1; -webkit-transform: translateX(0); }
	50% { opacity: 0; -webkit-transform: translateX(-100px); }
	100% { opacity: 0; -webkit-transform: translateX(-100px); }
}

@-moz-keyframes anim_slides{
    0% { opacity: 0; -moz-transform: translateX(100px); }
	3% { opacity: 1; -moz-transform: translateX(0); }
	47% { opacity: 1; -moz-transform: translateX(0); }
	50% { opacity: 0; -moz-transform: translateX(-100px); }
	100% { opacity: 0; -moz-transform: translateX(-100px); }
}