$font-title: Lato;
$font-title-bold: LatoBold;
$font-body: Merriweather;
$font-body-bold: MerriweatherBold;

$color-main: #222;
$color-main-light: #777;

$color-accent: #90C695;
$color-accent-dark: #1E824C;
$color-accent-light: #6bc3ee;

$color-secondary: #6bb9f0;

$color-nuetral: #d1d1d1;
$color-nuetral-bg: #f4f7f8;

$color-white: #fff;

$color-error: red;

$color-title-bg: #525252;
$color-title-bg-light: #828282;